In [2]:
import pandas as pd

In [6]:
# Load the Excel file into a pandas DataFrame
df = pd.read_excel('section-3-event-logs-template.xlsx')

,Unnamed: 0,event_uuid,user_uuid,event_time,device_type,session_uuid,user_neighborhood,event_page,event_type
0,0.0,b9e9489e-1218-4715-b42e-604e3745db07,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:34:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,Manhattan,search_page,choose_car
1,1.0,d7dca4a7-c4d0-4b50-b6fb-8c1429002b62,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:35:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,Manhattan,book_page,choose_car
2,2.0,cf2d094a-2898-4547-9e52-23a8fc9fc459,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,Manhattan,driver_page,choose_car
3,3.0,a4ff8e2c-2701-4a32-9029-bdf6efc155c5,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,Manhattan,book_page,search
4,4.0,04a6ac8f-4535-42e9-b84c-6940fa491ee5,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,Manhattan,book_page,search

In [7]:
# Display the first few rows of the DataFrame
df.head()

,Unnamed: 0,event_uuid,user_uuid,event_time,device_type,session_uuid,user_neighborhood,event_page,event_type
0,0.0,b9e9489e-1218-4715-b42e-604e3745db07,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:34:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,Manhattan,search_page,choose_car
1,1.0,d7dca4a7-c4d0-4b50-b6fb-8c1429002b62,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:35:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,Manhattan,book_page,choose_car
2,2.0,cf2d094a-2898-4547-9e52-23a8fc9fc459,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,Manhattan,driver_page,choose_car
3,3.0,a4ff8e2c-2701-4a32-9029-bdf6efc155c5,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,Manhattan,book_page,search
4,4.0,04a6ac8f-4535-42e9-b84c-6940fa491ee5,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,Manhattan,book_page,search

In [8]:
# Step 1: Remove Unnecessary Columns
df.drop(columns=['Unnamed: 0'], inplace=True)
df.head()

,event_uuid,user_uuid,event_time,device_type,session_uuid,user_neighborhood,event_page,event_type
0,b9e9489e-1218-4715-b42e-604e3745db07,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:34:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,Manhattan,search_page,choose_car
1,d7dca4a7-c4d0-4b50-b6fb-8c1429002b62,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:35:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,Manhattan,book_page,choose_car
2,cf2d094a-2898-4547-9e52-23a8fc9fc459,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,Manhattan,driver_page,choose_car
3,a4ff8e2c-2701-4a32-9029-bdf6efc155c5,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,Manhattan,book_page,search
4,04a6ac8f-4535-42e9-b84c-6940fa491ee5,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,Manhattan,book_page,search

In [9]:
# Step 3: Missing Value Handling - Remove rows with missing values
df.dropna(inplace=True)

In [11]:
# Step 4: Data Cleaning
# Standardizing text to lower case
categorical_columns = df.select_dtypes(include=['object']).columns
df[categorical_columns] = df[categorical_columns].apply(lambda x: x.str.lower())
df.head()

,event_uuid,user_uuid,event_time,device_type,session_uuid,user_neighborhood,event_page,event_type
0,b9e9489e-1218-4715-b42e-604e3745db07,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:34:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,manhattan,search_page,choose_car
1,d7dca4a7-c4d0-4b50-b6fb-8c1429002b62,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:35:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,manhattan,book_page,choose_car
2,cf2d094a-2898-4547-9e52-23a8fc9fc459,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,manhattan,driver_page,choose_car
3,a4ff8e2c-2701-4a32-9029-bdf6efc155c5,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,manhattan,book_page,search
4,04a6ac8f-4535-42e9-b84c-6940fa491ee5,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,manhattan,book_page,search

In [12]:
# Step 5: Deduplication
df = df.drop_duplicates()

In [14]:
# Step 6: Feature Engineering
# Adding a day of the week column from the 'event_time'
df['day_of_week'] = df['event_time'].dt.day_name()
df.head()

,event_uuid,user_uuid,event_time,device_type,session_uuid,user_neighborhood,event_page,event_type,day_of_week
0,b9e9489e-1218-4715-b42e-604e3745db07,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:34:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,manhattan,search_page,choose_car,Sunday
1,d7dca4a7-c4d0-4b50-b6fb-8c1429002b62,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:35:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,manhattan,book_page,choose_car,Sunday
2,cf2d094a-2898-4547-9e52-23a8fc9fc459,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,manhattan,driver_page,choose_car,Sunday
3,a4ff8e2c-2701-4a32-9029-bdf6efc155c5,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,manhattan,book_page,search,Sunday
4,04a6ac8f-4535-42e9-b84c-6940fa491ee5,8191a8b8-9445-4661-9500-2bed275576f6,2019-10-06 05:36:00,ios,2d7b8da3-573a-447f-9964-acf32526b1db,manhattan,book_page,search,Sunday

In [16]:
# Step 7: Verification
df.info()  # To get an overview of the dataframe structure and datatypes

<class 'pandas.core.frame.DataFrame'>
Int64Index: 124980 entries, 0 to 124979
Data columns (total 9 columns):
 #   Column             Non-Null Count   Dtype
---  ------             --------------   -----
 0   event_uuid         124980 non-null  object
 1   user_uuid          124980 non-null  object
 2   event_time         124980 non-null  datetime64[ns]
 3   device_type        124980 non-null  object
 4   session_uuid       124980 non-null  object
 5   user_neighborhood  124980 non-null  object
 6   event_page         124980 non-null  object
 7   event_type         124980 non-null  object
 8   day_of_week        124980 non-null  object
dtypes: datetime64[ns](1), object(8)
memory usage: 9.5+ MB